---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


**Graduate Student Course: <br>
1. CAV safety theory and method (00212069), 2022; <br>
2. Transportation system managment and control (Intelligent transportation system part, 00223005), 2022;  <br>
3. Transportation system control and parctice (Intelligent transportation system contorl part, 00241070), 2022;  <br>
4. Traffic flow theory and method (00211033), 2023; <br>

**Undergraduate Student Course:  <br>
1. Artificial Intelligence and Machine Learning for Transportation (4180128220), 2022;  <br>
2. Integrated experiment of vehicle networking and vehicle-road collaboration (4180679170), 2022;   <br>   


The following part is still under developing.....<br>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
