<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}


<script type="text/javascript">

function toggleInfo(master_id,info) {

		var entry = document.getElementById(master_id);
		var c1 = document.getElementById('c1_'+master_id);
		var c2 = document.getElementById('c2_'+master_id);
		var c3 = document.getElementById('c3_'+master_id);
		var c4 = document.getElementById('c3_'+master_id);
		var c5 = document.getElementById('c5_'+master_id);

		if (c1 && info == 'details1') {
			if(c1.className.indexOf('details1') != -1) {
			c1.className.indexOf('noshow') == -1?c1.className = 'details1 noshow':c1.className = 'details1';
			}
		} else if (c2 && info == 'details2') {
			if(c2.className.indexOf('details2') != -1) {
			bib.className.indexOf('noshow') == -1?bib.className = 'details2 noshow':bib.className = 'details2';
			}
		} else {
			return;
		}


		var absshow = false;
		var bibshow = false;
		(c1 && c1.className.indexOf('noshow') == -1)? c1show = true: c1show = false;
		(c2 && c2.className == 'bibtex')? c2show = true: c2show = false;

		if(entry) {
			if (c1show || c2show) {
			entry.className = 'entry highlight show';
			} else {
			entry.className = 'entry show';
			}
		}

		if(c1show) {
			(c2show)?abs.className = 'details1 nextshow':c1.className = 'details1';
		}
	}
</script>
