<script src="{{ base_path }}/assets/js/main.min.js"></script>

{% include analytics.html %}
{% include /comments-providers/scripts.html %}


<script type="text/javascript">

function toggleInfo(master_id,info) {

		var entry = document.getElementById(master_id);
		var c1 = document.getElementById('c1_'+master_id);
		var c2 = document.getElementById('c2_'+master_id);
		var c3 = document.getElementById('c3_'+master_id);
		var c4 = document.getElementById('c3_'+master_id);
		var c5 = document.getElementById('c5_'+master_id);

		if (c1 && info == 'details1') {
			if(c1.className.indexOf('details1') != -1) {
			c1.className.indexOf('noshow') == -1?c1.className = 'details1 noshow':c1.className = 'details1';
			}
		} else if (c2 && info == 'details2') {
			if(c2.className.indexOf('details2') != -1) {
			c2.className.indexOf('noshow') == -1?c2.className = 'details2 noshow':c2.className = 'details2';
			}
		} else if (c3 && info == 'details3') {
			if(c3.className.indexOf('details3') != -1) {
			c3.className.indexOf('noshow') == -1?c3.className = 'details3 noshow':c3.className = 'details3';
			}
		} else if (c4 && info == 'details4') {
			if(c4.className.indexOf('details4') != -1) {
			c4.className.indexOf('noshow') == -1?c4.className = 'details4 noshow':c4.className = 'details4';
			}
		} else if (c5 && info == 'details5') {
			if(c5.className.indexOf('details5') != -1) {
			c5.className.indexOf('noshow') == -1?c5.className = 'details5 noshow':c5.className = 'details5';
			}
		} else {
			return;
		}


		var c1show = false;
		var c2show = false;
		var c3show = false;
		var c4show = false;
		var c5show = false;
		(c1 && c1.className.indexOf('noshow') == -1)? c1show = true: c1show = false;
		(c2 && c2.className == 'details2')? c2show = true: c2show = false;
		(c3 && c3.className == 'details3')? c3show = true: c3show = false;
		(c4 && c4.className == 'details4')? c4show = true: c4show = false;
		(c5 && c5.className == 'details5')? c5show = true: c5show = false;

		if(entry) {
			if (c1show || c2show || c3show || c4show || c5show) {
			entry.className = 'entry highlight show';
			} else {
			entry.className = 'entry show';
			}
		}

		if(c1show) {
			(c2show)?abs.className = 'details1 nextshow':c1.className = 'details1';
		}
	}
</script>
